@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins', sans-serif;
}
.box{
    position: relative;
    width: 1100px;
    height: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
}
.box:before{
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #4285f4;
    z-index: -2;
    filter: blur(40px);
}
/* .box:before,
.box:after{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
} */


.s_box{
    color: #fff;
    text-align: center;
}
#s_date{
    font-size: 35px;
}
.btn{
    color: #fff;
    width: auto;
}
.btn1{
    margin-top: 20px;
    width: auto;
    background-color: #fbbc05;
}
.btn2{
    margin-top: 20px;
    width: auto;
    background-color: #ea4335;
}
.btn3{
    margin-top: 20px;
    width: auto;
    background-color: #4285f4;
}
#s_secondline{
    font-size: 20px;
}







